In [1]:
from collections import Counter
import pandas as pd

In [2]:
train1 = 'Chinese Beijing Chinese' 
train2 = 'Chinese Chinese Shanghai'
train3 = 'Chinese Macao'
train4 = 'Tokyo Japan Chinese'
test = 'Chinese Chinese Chinese Tokyo Japan'

In [3]:
# for i in [train1,train2,train3,train4]:
#     df = df.append([[i, 'c']])

In [4]:
df = pd.DataFrame()
df = df.append([
    [train1, 'c'],
    [train2, 'c'], 
    [train3, 'c'],
    [train4, 'j'],
    [test, 'u'],
],ignore_index=True)

df.columns = ['words', 'class']

In [5]:
df

                                 words class
0              Chinese Beijing Chinese     c
1             Chinese Chinese Shanghai     c
2                        Chinese Macao     c
3                  Tokyo Japan Chinese     j
4  Chinese Chinese Chinese Tokyo Japan     u

In [6]:
df

                                 words class
0              Chinese Beijing Chinese     c
1             Chinese Chinese Shanghai     c
2                        Chinese Macao     c
3                  Tokyo Japan Chinese     j
4  Chinese Chinese Chinese Tokyo Japan     u

In [7]:
c_list = df[df['class'] == 'c']['words'].tolist()

In [8]:
all_words = df.words.tolist()

$$\hat{P}(c) = \frac{N_{c}}{N}$$
$$\hat{P}(w|c) = \frac{count(w,c)+1}{count(c)+|V|}$$

In [9]:
df['words_list'] = df.words.map(lambda x: x.split())

In [10]:
df['counter'] = df['words_list'].map(Counter)

In [11]:
df

,words,class,words_list,counter
0,Chinese Beijing Chinese,c,"[Chinese, Beijing, Chinese]","{'Chinese': 2, 'Beijing': 1}"
1,Chinese Chinese Shanghai,c,"[Chinese, Chinese, Shanghai]","{'Chinese': 2, 'Shanghai': 1}"
2,Chinese Macao,c,"[Chinese, Macao]","{'Chinese': 1, 'Macao': 1}"
3,Tokyo Japan Chinese,j,"[Tokyo, Japan, Chinese]","{'Chinese': 1, 'Japan': 1, 'Tokyo': 1}"
4,Chinese Chinese Chinese Tokyo Japan,u,"[Chinese, Chinese, Chinese, Tokyo, Japan]","{'Chinese': 3, 'Japan': 1, 'Tokyo': 1}"

In [12]:
df.counter.sum()

Counter({'Beijing': 1,
         'Chinese': 9,
         'Japan': 2,
         'Macao': 1,
         'Shanghai': 1,
         'Tokyo': 2})

In [13]:
df['length'] = df.words_list.map(len)

In [14]:
df

,words,class,words_list,counter,length
0,Chinese Beijing Chinese,c,"[Chinese, Beijing, Chinese]","{'Chinese': 2, 'Beijing': 1}",3
1,Chinese Chinese Shanghai,c,"[Chinese, Chinese, Shanghai]","{'Chinese': 2, 'Shanghai': 1}",3
2,Chinese Macao,c,"[Chinese, Macao]","{'Chinese': 1, 'Macao': 1}",2
3,Tokyo Japan Chinese,j,"[Tokyo, Japan, Chinese]","{'Chinese': 1, 'Japan': 1, 'Tokyo': 1}",3
4,Chinese Chinese Chinese Tokyo Japan,u,"[Chinese, Chinese, Chinese, Tokyo, Japan]","{'Chinese': 3, 'Japan': 1, 'Tokyo': 1}",5

In [15]:
df_c = df[df['class'] == 'c']
df_j = df[df['class'] == 'j']

In [16]:
lables = ['c', 'j']

In [17]:
all_counter_sum = df.counter.sum()
c_counter_sum = df_c.counter.sum()
j_counter_sum = df_j.counter.sum()

计算以 c 为条件的条件概率

In [18]:
for key in all_counter_sum.keys():
    print(key, c_counter_sum[key])

Chinese 5
Beijing 1
Shanghai 1
Macao 1
Japan 0
Tokyo 0

计算以 j 为条件的条件概率

In [19]:
for key in all_counter_sum.keys():
    print(key, j_counter_sum[key])

Chinese 1
Beijing 0
Shanghai 0
Macao 0
Japan 1
Tokyo 1

In [20]:
c_counter_sum['Japan']

0

In [21]:
test_list = df[df['class'] == 'u'].words_list.iloc[0]

In [22]:
for key in test_list:
    print(key, c_counter_sum[key])

Chinese 5
Chinese 5
Chinese 5
Tokyo 0
Japan 0

In [23]:
count_j = df_j.length.sum()

In [24]:
V = len(all_counter_sum.keys())

In [25]:
count_j

3

In [26]:
2/9

0.2222222222222222

In [27]:
import pandas as pd
import numpy as np

In [28]:
a = []
for key in test_list:
    a.append((j_counter_sum[key] + 1) / (count_j + V))
a.append(1/4)

In [37]:
j_counter_sum

Counter({'Chinese': 1, 'Japan': 1, 'Tokyo': 1})

In [29]:
aa = np.asarray(a)

In [30]:
aa

array([ 0.22222222,  0.22222222,  0.22222222,  0.22222222,  0.22222222,
        0.25      ])

In [31]:
aa.prod()

0.00013548070246744226

* V 指的是所有训练集中词汇的 set 
* count(c) 指的是所有词的总数，不论重复


p(c) = 3/4    
p(j) = 1/4

In [32]:
# all_w = []
# for i in all_words:
#     for sub in i.split():
#         all_w.append(sub)

In [33]:
# all_w

In [34]:
# kkcnt_aw = Counter()

# for word in all_w:
#     cnt_aw[word] +=1
    
# cnt_aw

In [35]:
# c_list

In [36]:
P()

NameError: name 'P' is not defined